sudo: false

os:
  - osx
  - linux

cache:
  yarn: true  

install:
  - |
    if [ $TRAVIS_OS_NAME == "linux" ]; then
      export DISPLAY=':99.0'
      /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
    fi
  - yarn install

script:
  - yarn run test

after_success:
  - yarn coveralls